In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

In [2]:
traindf=pd.read_csv("./train.csv")
traindf

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
for name in range(len(traindf['Name'])):
    for i in range(len(traindf['Name'][name])):
        if traindf['Name'][name][i]==',':
            traindf['Name'][name]=traindf['Name'][name][:i]
            break

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [4]:
for i in range(len(traindf)):
    if traindf["Sex"][i]=="male":
        traindf["Sex"][i]=1
    else:
        traindf["Sex"][i]=0

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [5]:
for i in range(len(traindf['Embarked'])):
    if traindf['Embarked'][i]=="S":
        traindf['Embarked'][i]=0
    elif traindf['Embarked'][i]=="Q":
        traindf['Embarked'][i]=1
    elif traindf['Embarked'][i]=="C":
        traindf['Embarked'][i]=2

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [6]:
labels=traindf["Survived"]
n=traindf['Name'].unique()
d={}
for i in range(len(n)):
    d[n[i]]=i
for i in range(len(traindf)):
    traindf['Name'][i]=d[traindf['Name'][i]]
traindf=traindf.drop(['Ticket','Cabin',],axis=1)

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

NameError: name 'df' is not defined

In [7]:
traindf['per_person']=pd.Series(traindf["Fare"]/(1+traindf["SibSp"]+traindf["Parch"]),index=traindf.index)

In [8]:
for i in range(len(traindf["Sex"])):
    if traindf["Sex"][i]==True:
        traindf["Sex"][i]=1
    else:
        traindf["Sex"][i]=0

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [9]:

for i in traindf.columns[1:]:
    sd=np.max(traindf[i])-np.min(traindf[i])
    m=np.mean(traindf[i])
    traindf[i]=(traindf[i]-m)/sd
traindf=traindf.fillna(0)

In [20]:
traindf=traindf.drop(['Survived'],axis=1)

In [11]:
labels=np.array(labels)
labels=np.reshape(labels,(labels.shape[0],1))

In [21]:
traindf

,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,per_person
0,0.345679,-0.445358,0.352413,-0.096747,0.059624,-0.063599,-0.048707,-0.232283,-0.031799
1,-0.654321,-0.443856,-0.647587,0.104309,0.059624,-0.063599,0.076277,0.767717,0.030694
2,0.345679,-0.442355,-0.647587,-0.046483,-0.065376,-0.063599,-0.047390,-0.232283,-0.023406
3,-0.654321,-0.440853,-0.647587,0.066611,0.059624,-0.063599,0.040786,-0.232283,0.012948
4,0.345679,-0.439352,0.352413,0.066611,-0.065376,-0.063599,-0.047146,-0.232283,-0.023162
5,0.345679,-0.437850,0.352413,0.000000,-0.065376,-0.063599,-0.046349,0.267717,-0.022365
6,-0.654321,-0.436349,0.352413,0.305364,-0.065376,-0.063599,0.038370,-0.232283,0.062355
7,0.345679,-0.434847,0.352413,-0.348066,0.309624,0.103068,-0.021723,-0.232283,-0.030647
8,0.345679,-0.433346,-0.647587,-0.033917,-0.065376,0.269734,-0.041128,-0.232283,-0.031631
9,-0.154321,-0.431844,-0.647587,-0.197275,0.059624,-0.063599,-0.004164,0.767717,-0.009527
10,0.345679,-0.430343,-0.647587,-0.322934,0.059624,0.103068,-0.030262,-0.232283,-0.028009
11,-0.654321,-0.428841,-0.647587,0.355628,-0.065376,-0.063599,-0.011036,-0.232283,0.012948
12,0.345679,-0.427340,0.352413,-0.121879,-0.065376,-0.063599,-0.047146,-0.232283,-0.023162
13,0.345679,-0.425838,0.352413,0.116875,0.059624,0.769734,-0.001814,-0.232283,-0.030153
14,0.345679,-0.424337,-0.647587,-0.197275,-0.065376,-0.063599,-0.047528,-0.232283,-0.023544
15,-0.154321,-0.422835,-0.647587,0.317930,-0.065376,-0.063599,-0.031629,-0.232283,-0.007644
16,0.345679,-0.421334,0.352413,-0.348066,0.434624,0.103068,-0.006010,0.267717,-0.029399
17,-0.154321,-0.419832,0.352413,0.000000,-0.065376,-0.063599,-0.037484,-0.232283,-0.013500
18,0.345679,-0.418331,-0.647587,0.016347,0.059624,-0.063599,-0.027725,-0.232283,-0.021307
19,0.345679,-0.416829,-0.647587,0.000000,-0.065376,-0.063599,-0.048756,0.767717,-0.024772
20,-0.154321,-0.415328,0.352413,0.066611,-0.065376,-0.063599,-0.012110,-0.232283,0.011874
21,-0.154321,-0.413826,0.352413,0.054045,-0.065376,-0.063599,-0.037484,-0.232283,-0.013500
22,0.345679,-0.412325,-0.647587,-0.184709,-0.065376,-0.063599,-0.047186,0.267717,-0.023202
23,-0.654321,-0.410823,0.352413,-0.021351,-0.065376,-0.063599,0.006433,-0.232283,0.030417
24,0.345679,-0.434847,-0.647587,-0.272670,0.309624,0.103068,-0.021723,-0.232283,-0.030647
25,0.345679,-0.409322,-0.647587,0.104309,0.059624,0.769734,-0.001594,-0.232283,-0.030122
26,0.345679,-0.407820,0.352413,0.000000,-0.065376,-0.063599,-0.048756,0.767717,-0.024772
27,-0.654321,-0.406319,0.352413,-0.134445,0.309624,0.269734,0.450483,-0.232283,0.046683
28,0.345679,-0.404817,-0.647587,0.000000,-0.065376,-0.063599,-0.047479,0.267717,-0.023495
29,0.345679,-0.403316,0.352413,0.000000,-0.065376,-0.063599,-0.047447,-0.232283,-0.023463
...,...,...,...,...,...,...,...,...,...
861,-0.154321,0.526114,0.352413,-0.109313,0.059624,-0.063599,-0.040412,-0.232283,-0.027651
862,-0.654321,0.527615,-0.647587,0.229968,-0.065376,-0.063599,-0.012248,-0.232283,0.011736
863,0.345679,-0.229142,-0.647587,0.000000,0.934624,0.269734,0.072894,-0.232283,-0.026533
864,-0.154321,0.529117,0.352413,-0.071615,-0.065376,-0.063599,-0.037484,-0.232283,-0.013500
865,-0.154321,0.530618,-0.647587,0.154573,-0.065376,-0.063599,-0.037484,-0.232283,-0.013500
866,-0.154321,0.532120,-0.647587,-0.033917,0.059624,-0.063599,-0.035809,0.767717,-0.025349
867,-0.654321,0.533621,0.352413,0.016347,-0.065376,-0.063599,0.035703,-0.232283,0.059687
868,0.345679,0.535123,0.352413,0.000000,-0.065376,-0.063599,-0.044316,-0.232283,-0.020331
869,0.345679,-0.433346,0.352413,-0.322934,0.059624,0.103068,-0.041128,-0.232283,-0.031631
870,0.345679,0.536624,0.352413,-0.046483,-0.065376,-0.063599,-0.047447,-0.232283,-0.023463
871,-0.654321,-0.119532,-0.647587,0.217402,0.059624,0.103068,0.039721,-0.232283,-0.004681
872,-0.654321,0.430018,0.352413,0.041479,-0.065376,-0.063599,-0.053099,-0.232283,-0.029115
873,0.345679,0.538126,0.352413,0.217402,-0.065376,-0.063599,-0.045292,-0.232283,-0.021307
874,-0.154321,-0.044457,-0.647587,-0.021351,0.059624,-0.063599,-0.016014,0.767717,-0.015452
875,0.345679,0.539627,-0.647587,-0.184709,-0.065376,-0.063599,-0.048756,0.767717,-0.024772
876,0.345679,-0.296709,0.352413,-0.121879,-0.065376,-0.063599,-0.043641,-0.232283,-0.019656
877,0.345679,-0.301214,0.352413,-0.134445,-0.065376,-0.063599,-0.047447,-0.232283,-0.023463
878,0.345679,0.541129,0.352413,0.000000,-0.065376,-0.063599,-0.047447,-0.232283,-0.023463
879,-0.654321,0.542630,-0.647587,0.330496,-0.065376,0.103068,0.099456,0.767717,0.042283
880,-0.154321,0.544132,-0.647587,-0.059049,-0.065376,0.103068,-0.012110,-0.232283,-0.013500
881,0.345679,0.545633,0.352413,0.041479,-0.065376,-0.063599,-0.047447,-0.232283,-0.023463
882,0.345679,0.547135,-0.647587,-0.096747,-0.065376,-0.063599,-0.042331,-0.232283,-0.018347
883,-0.154321,0.548636,0.352413,-0.021351,-0.065376,-0.063599,-0.042364,-0.232283,-0.018380
884,0.345679,0.550138,0.352413,-0.059049,-0.065376,-0.063599,-0.049098,-0.232283,-0.025113
885,0.345679,-0.421334,-0.647587,0.116875,-0.065376,0.769734,-0.006010,0.267717,-0.029399
886,-0.154321,0.551639,0.352413,-0.033917,-0.065376,-0.063599,-0.037484,-0.232283,-0.013500
887,-0.654321,-0.095508,-0.647587,-0.134445,-0.065376,-0.063599,-0.004302,-0.232283,0.019682
888,0.345679,0.461549,-0.647587,0.000000,0.059624,0.269734,-0.017087,-0.232283,-0.027431
889,-0.654321,0.553141,0.352413,-0.046483,-0.065376,-0.063599,-0.004302,0.767717,0.019682
890,0.345679,0.554642,0.352413,0.028913,-0.065376,-0.063599,-0.047731,0.267717,-0.023747

In [29]:
x=traindf.values
b=np.random.rand(1,1)
theta=np.random.rand(x.shape[1],1)
m=x.shape[0]
def sigmoid(x):
    return 1/(1+np.exp(-x))
def h(theta,x,b):
    y=np.dot(x,theta)+b
    return sigmoid(y)

def J(theta,x,b,y):
    return np.sum(-y*np.log(h(theta,x,b)-(1-y)*np.log(1-h(theta,x,b))))/m

def grad_desc(lr,theta,x,y,b):
    theta=theta-lr*np.dot(x.T,(h(theta,x,b)-y))/m
    b=b-lr*np.sum(h(theta,x,b)-y)/m
    return theta,b

def train(x,y,theta,b,iterations=20000,lr=0.001):
    for i in range(iterations):
        theta,b=grad_desc(lr,theta,x,y,b)
        if i%500==0:
            print("Cost: ",J(theta,x,b,y))
    return (theta,b)
def predict(model,x):
    theta=model[0]
    b=model[1]
    x=pd.read_csv(x)
    p=x["PassengerId"]
    for name in range(len(x['Name'])):
        for i in range(len(x['Name'][name])):
            if x['Name'][name][i]==',':
                x['Name'][name]=x['Name'][name][:i]
                break
    for i in range(len(x)):
        if x["Sex"][i]=="male":
            x["Sex"][i]=1
        else:
            x["Sex"][i]=0
    for i in range(len(x['Embarked'])):
        if x['Embarked'][i]=="S":
            x['Embarked'][i]=0
        elif x['Embarked'][i]=="Q":
            x['Embarked'][i]=1
        elif x['Embarked'][i]=="C":
            x['Embarked'][i]=2

    n=x['Name'].unique()
    d={}
    for i in range(len(n)):
        d[n[i]]=i
    for i in range(len(x)):
        x['Name'][i]=d[x['Name'][i]]
    x=x.drop(['Ticket','Cabin'],axis=1)
    x['per_person']=pd.Series(x["Fare"]/(1+x["SibSp"]+x["Parch"]),index=x.index)
    for i in x.columns[1:]:
        sd=np.max(x[i])-np.min(x[i])
        m=np.mean(x[i])
        x[i]=(x[i]-m)/sd
    x=x.fillna(0)
    x=x.drop(['PassengerId'],axis=1)
    x=x.values
    y1=h(theta,x,b)
    n=0
    d=0
    csv_data=[]
    for i in range(len(y1)):
        if(y1[i]>0.5):
            y1[i]=1
        else:
            y1[i]=0
        csv_data.append(np.array([int(p[i]),int(y1[i])]))
    return csv_data

model=train(x,labels,theta,b,80000,0.01)

Cost:  0.28845910856982576
Cost:  0.31206210150443997
Cost:  0.29951381118049325
Cost:  0.2856033332190331
Cost:  0.27588278268436306
Cost:  0.26964101616097264
Cost:  0.2656644602886717
Cost:  0.2630952093432763
Cost:  0.261400646750459
Cost:  0.2602571998120554
Cost:  0.25946653330156305
Cost:  0.2589048512708596
Cost:  0.25849334107419253
Cost:  0.2581809001383436
Cost:  0.25793387369098447
Cost:  0.25772982616421897
Cost:  0.25755367474518526
Cost:  0.25739523602391096
Cost:  0.2572476370080515
Cost:  0.25710626654799446
Cost:  0.25696807174700637
Cost:  0.2568310789288013
Cost:  0.256694063412323
Cost:  0.25655631950994595
Cost:  0.256417499015782
Cost:  0.2562774971035092
Cost:  0.2561363714104578
Cost:  0.2559942845745148
Cost:  0.25585146347720145
Cost:  0.2557081704627338
Cost:  0.2555646831828869
Cost:  0.25542128067380154
Cost:  0.2552782339411477
Cost:  0.25513579980472645
Cost:  0.2549942170928346
Cost:  0.2548537045212047
Cost:  0.25471445976878276
Cost:  0.2545766593922322
Cost:  0.2544404593162377
Cost:  0.2543059957068982
Cost:  0.2541733860874501
Cost:  0.25404273059413146
Cost:  0.2539141132986383
Cost:  0.253787603544925
Cost:  0.2536632572639191
Cost:  0.25354111824144504
Cost:  0.25342121932330497
Cost:  0.25330358354782184
Cost:  0.2531882252007728
Cost:  0.2530751507909718
Cost:  0.25296435994710936
Cost:  0.25285584623809243
Cost:  0.25274959792020407
Cost:  0.25264559861509067
Cost:  0.25254382792296864
Cost:  0.2524442619756168
Cost:  0.25234687393373423
Cost:  0.25225163443315846
Cost:  0.25215851198426903
Cost:  0.25206747332868973
Cost:  0.2519784837571635
Cost:  0.2518915073922126
Cost:  0.25180650743893646
Cost:  0.25172344640704075
Cost:  0.2516422863069372
Cost:  0.25156298882251266
Cost:  0.2514855154629394
Cost:  0.2514098276956791
Cost:  0.25133588706264154
Cost:  0.2512636552812662
Cost:  0.2511930943321313
Cost:  0.2511241665345344
Cost:  0.25105683461135064
Cost:  0.2509910617443383
Cost:  0.2509268116209517
Cost:  0.25086404847360627
Cost:  0.25080273711224793
Cost:  0.25074284295099103
Cost:  0.250684332029508
Cost:  0.2506271710297837
Cost:  0.2505713272887829
Cost:  0.25051676880752033
Cost:  0.2504634642569727
Cost:  0.250411382981224
Cost:  0.25036049499819085
Cost:  0.2503107709982438
Cost:  0.2502621823409971
Cost:  0.25021470105051946
Cost:  0.2501682998091815
Cost:  0.2501229519503372
Cost:  0.250078631450015
Cost:  0.2500353129177699
Cost:  0.24999297158683412
Cost:  0.24995158330369033
Cost:  0.24991112451717087
Cost:  0.24987157226717932
Cost:  0.24983290417311965
Cost:  0.24979509842210262
Cost:  0.24975813375699907
Cost:  0.24972198946439247
Cost:  0.2496866453624831
Cost:  0.24965208178898685
Cost:  0.24961827958906502
Cost:  0.24958522010331996
Cost:  0.2495528851558828
Cost:  0.24952125704261932
Cost:  0.24949031851947395
Cost:  0.24946005279096825
Cost:  0.24943044349887256
Cost:  0.24940147471105797
Cost:  0.24937313091054447
Cost:  0.2493453969847482
Cost:  0.24931825821493814
Cost:  0.24929170026590677
Cost:  0.24926570917585647
Cost:  0.24924027134650634
Cost:  0.2492153735334202
Cost:  0.24919100283655665
Cost:  0.2491671466910411
Cost:  0.24914379285815805
Cost:  0.2491209294165645
Cost:  0.24909854475372045
Cost:  0.2490766275575343
Cost:  0.24905516680822315
Cost:  0.2490341517703804
Cost:  0.24901357198525262
Cost:  0.24899341726321747
Cost:  0.2489736776764628
Cost:  0.2489543435518602
Cost:  0.24893540546403095
Cost:  0.24891685422860074
Cost:  0.24889868089563588
Cost:  0.24888087674326165
Cost:  0.2488634332714539
Cost:  0.24884634219600427
Cost:  0.24882959544265063
Cost:  0.2488131851413719
Cost:  0.24879710362084148
Cost:  0.24878134340303606
Cost:  0.24876589719799444
Cost:  0.24875075789872475
Cost:  0.24873591857625313
Cost:  0.24872137247481355
Cost:  0.24870711300717188
Cost:  0.24869313375008179
Cost:  0.24867942843987048
Cost:  0.2486659909681465
Cost:  0.2486528153776308
Cost:  0.248639895858105
Cost:  0.2486272267424738
Cost:  0.24861480250293969
Cost:  0.24860261774728343
Cost:  0.24859066721525286
Cost:  0.24857894577505094
Cost:  0.24856744841992412
Cost:  0.24855617026484667
Cost:  0.24854510654329887
Cost:  0.248534252604135
Cost:  0.24852360390854095
Cost:  0.24851315602707508

In [23]:
csv_data=predict(model,"./test.csv")

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [30]:
csv_data=np.array(csv_data)
df=pd.DataFrame(data=csv_data,index=csv_data[0:,0],columns=["PassengerId","Survived"])

In [32]:
df.to_csv("./submissions1.csv",sep=",",index=False)

In [31]:
df

      PassengerId  Survived
892           892         0
893           893         0
894           894         0
895           895         0
896           896         1
897           897         0
898           898         1
899           899         0
900           900         1
901           901         0
902           902         0
903           903         0
904           904         1
905           905         0
906           906         1
907           907         1
908           908         0
909           909         0
910           910         0
911           911         0
912           912         0
913           913         0
914           914         1
915           915         1
916           916         1
917           917         0
918           918         1
919           919         0
920           920         0
921           921         0
...           ...       ...
1280         1280         0
1281         1281         0
1282         1282         1
1283         1283         1
1284         1284         0
1285         1285         0
1286         1286         0
1287         1287         1
1288         1288         0
1289         1289         1
1290         1290         0
1291         1291         0
1292         1292         1
1293         1293         0
1294         1294         1
1295         1295         1
1296         1296         0
1297         1297         0
1298         1298         0
1299         1299         0
1300         1300         1
1301         1301         1
1302         1302         1
1303         1303         1
1304         1304         1
1305         1305         0
1306         1306         1
1307         1307         0
1308         1308         0
1309         1309         0

[418 rows x 2 columns]